.lead__figure {
    max-width: calc(100% - 200px);
    margin: 0 auto;
}


@media screen and (max-width: 1024px){
  .lead__figure {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px){
  .lead__figure {
    max-width: 100%;
    margin: 0;
  }
}