.place__intro {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

@media screen and (max-width: 450px){
    .place__intro {
        max-width: calc(100% - 32px);
        margin: 0 16px;
        flex-direction: column;
        align-items: flex-start;
    }
}